@charset "UTF-8";

* {
box-sizing: border-box;
}

body
.table {
  margin: 0;
color:#111;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
color:#111;
letter-spacing: 0.3rem;
}
p {
  line-height: 1.6rem;
  }
a{
color:#111;
}
header{
  background-color: #fff;
}
main{
margin: 30px;
}
  .header-title{
    width:50%;
    text-align:center;
    padding-top: 25px;
  }
  .header-title{
    font-family: monospace;
    width: 100%;
    font-size: 7vw;
    margin: auto;
    margin-right: 30px;
  }

  .header-img{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 10px;
    margin-top: -10px;
}
  .nav-menu{
    display: none;
  }

/* ナビボタン */
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 70px;
  width: 25px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  padding: 0rem;
  margin-top: 0px;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
top: 10px;
}
.hamburger span:nth-child(2) {
top: 17px;
}
.hamburger span:nth-child(3) {
top: 24px;
}

/* ナビが開いてる時のボタン */
.hamburger.active span:nth-child(1) {
top : 16px;
left: 6px;
-webkit-transform: rotate(-45deg);
-moz-transform   : rotate(-45deg);
transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
top: 16px;
-webkit-transform: rotate(45deg);
-moz-transform   : rotate(45deg);
transform        : rotate(45deg);
}
nav.globalMenuSp {
position: fixed;
z-index : 2;
top  : 0;
left : 0;
color: #000;
background: #fff;
text-align: center;
transform: translateY(-100%);
transition: all 0.6s;
width: 100%;
}

nav.globalMenuSp ul {
background: gainsboro;
margin: 0 auto;
padding: 0;
width: 100%;
}
nav.globalMenuSp ul li {
list-style-type: none;
padding: 0;
width: 100%;
border-bottom: 1px solid black;
}
nav.globalMenuSp ul li:last-child {
padding-bottom: 0;
border-bottom: none;
}
nav.globalMenuSp ul li:hover{
background :#ddd;
}
nav.globalMenuSp ul li a {
display: block;
color: #000;
padding: 1em 0;
text-decoration :none;
}
nav.globalMenuSp.active {
transform: translateY(0%);
}

/*PCナビゲーション　隠す*/
.header-menu{
  display: none;
}

/*理念、予約*/
.philosophy {
  padding-top: 120px;
}
.philosophy-title{
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  background-color: khaki;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
}
.text-muted{
  font-size: 12px;
  text-align: left;
  margin: 15px;
  margin-top: -20px;
  margin-bottom: 40px;
}
.text-center{
  margin-left: 10px;
  line-height: 40px;
  }


  /*当院の理念　　サブタイトル*/
  .policy {
    background-color: cornsilk;
    margin-top: 12px;
    padding-bottom: 50px;
    margin-bottom: 0rem;
    width: 100%;
  }
  .policy-image{
    width: 100%;
  }
  .policy-title{
    margin-top: -63px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 88px;
    border-bottom: 3px solid seagreen;
    width: 65%;
    text-align: center;
  }
  .policy-content{
    height: 100%;
  }
  .policy-subtitle{
    background-color: cadetblue;
    margin-top: 60px;
    text-align: center;
  }
  .policy-subtitle span{
    font-size: 30px;
    color: white;
    font-style: italic;
    font-family: monospace;
  }
  .policy-text{
    margin-top: 0px;
    font-size: 11px;
    line-height: 30px;
    padding: 0px;
    font-family: serif;
    text-align: center;
    padding: 1rem;
    margin-bottom: 70px;
    margin-top: 30px;
  }

/*診療案内*/
.area{
  scroll-snap-align: start;
  height: 61vh;
  width: 100%;
  flex: none;
  text-align: center;
  margin-top: 49px;
  height: 100%;
  padding-bottom: 50px;
  background-color: cornsilk;
}
.area-subtitle{
  background-color: mediumseagreen;
  color: white;
  border-color: black;
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  margin: auto;
  border-radius: 60px;
}
.area-img{
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}    
.area-text{ 
  margin-top: 45px;
  line-height: 35px;
  font-family: serif;
  font-size: 16px;
}

/*医療設備　*/
.machine{
  scroll-snap-align: start;
  height: 61vh;
  width: 100%;
  flex: none;
  text-align: center;
  margin-top: 49px;
  height: 100%;
  padding-bottom: 50px;
  background-color: cornsilk;
}   
.machine-subtitle{
  background-color: mediumseagreen;
  color: white;
  border-color: black;
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  margin: auto;
  border-radius: 60px;
}
.machine-img{
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}  
.machine-text{ 
  margin-top: 45px;
  line-height: 35px;
  font-family: serif;
  font-size: 16px;
}

/*スタッフ紹介　*/
.staff-wrapper{
  display: inline-flex;
  flex-wrap: wrap;
}
.staff-container{
  width: 35%;
  flex-wrap: wrap;
  margin: 20px;
  text-align:center;
}
.staff-image{
  width:100%;
}
.staff-name{
  margin-top: 20px;
  background-color: cornsilk;
  font-size: 15px;
}
.staff-position{
  margin-top: 20px;
  font-size: 12px;
}
.staff-hobby{
  font-size: 12px;
}
.staff-message{
  margin-top: 20px;
  font-size: 10px;
}

/*お知らせ　　コンテンツ*/
.info-wrapper{
  margin: 50px;
  line-height: 35px;
}
.info-day{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.info-text{
  font-size: 12px;
}
/*アクセス*/
.access{
  font-size: 17px;
  font-family: monospace;
  margin-top: 30px;
}
.map{
  margin-bottom: 2rem;
  margin-top:1rem;
}

/*フッター*/
.footer-title{
  border-top: seagreen solid 3px;
  width: 100%;
}
.footer-text{
  text-align: center;
  background-color: darkseagreen;
  color: black;
}

/*その他*/
.step-content{
  overflow: auto;
  scroll-snap-type: x;
  display: flex;
  margin-top: -20px;
  margin-left: 5px;
  margin-bottom: 0rem;
}
.medical-check-title{
  margin-top: -4rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 88px;
  border-bottom: 3px solid seagreen;
  width: 62%;
  text-align: center;
  }
.col-md-6{
  margin-top: 5rem;
}
.sub-title{
  margin-top:40px;
}
.container{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/*予約*/
.bg-blue,
.thead-blue,
.badge-primary {
  background-color: seagreen;
}
.bg-pink {
  background-color: seagreen;
}
.table thead th{
  vertical-align:baseline;
}
/* フェードイン*/
.slide-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}