@charset "UTF-8";
/* --------------------------------
* base
* -------------------------------- */
* {
box-sizing: border-box;
}

body
.table {
color:#111;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
color:#111;
letter-spacing: 0.3rem;
}

a{
color:#111;
}
body{
  background-color: floralwhite;
}













/*********************************  レスポンシブ スマホ    **********************************/
  .container{
      width: 100%;
  }
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 10px;
    margin-right: 5rem;
}
.jumbotron{
margin-top: -2rem;;
}
.header-title{
    font-size: 28px;
}

.tel-reception{
padding-top: 0rem;
font-size: 15px;
margin-top: -8rem;
margin-bottom: 1rem;
}
.web-reception {
    background-color: seagreen;
    color: white;
    text-align: center;
    border-radius: 45px;
    font-size: 15px;
}
.text-center {
    text-align: center;
    font-size: 14px;
}
p.p-3{
    padding:5px;
    font-size:13px;
    margin-top:-25px;
}
p{
  margin-top: 0;
  margin-bottom:-5px;
}
.footer-title{
    border-top: seagreen solid 3px;
    margin-top: 100px;
    padding-top: 10px;
    width: 100%;
    font-size: 26px;
}
.navbar-toggler-icon {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.step li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: -20px;
    left: 0;
    border-style: solid;
    border-color: #DBB96B transparent transparent transparent;
    z-index: 1;
}
.tel-reservation{
    margin-bottom: 35px;
}
      /* --------------------------------------------------
      ファーストビュー
      -------------------------------------------------- */
      .header {
      height: 100vh;
      }
      
      .header .jumbotron {
      background-size: cover;
      background-position: center top;
      position: relative;
      height:0;
      margin-bottom: 0;
      margin-bottom: 100px;
      }
      .header .jumbotron h1{
        font-size:19px;
        margin-top: -85px;
        font-family: serif;
        font-style: italic;
      }
      .text-muted{
        font-size:11px;
        margin-bottom: 10px;
      }
      
      /* nav
      -------------------------------------------------- */
      nav.fixed {
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
      }
      
      
      /*    キービジュアル
      -------------------------------------------------- */
      /*下層ページ*/
      .under-layer .jumbotron {
      background-image: url("../animal/hare.jpg");
      background-size: cover;
      background-position: center top;
      margin-bottom: 0;
      }
      
      
      
      /*    トップページ
      -------------------------------------------------- */
      .tokucho h3 span {
      font-family: 'Libre Caslon Text', serif;
      margin-right: 1rem;
      border-bottom: 5px solid #B2C2E1;
      }
      
      /*   スタッフ紹介
      -------------------------------------------------- */
      
      .flow > li .flow-icon {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 50px;
      width: 50px;
      color: #fff;
      background-color: #6b90db;
      margin: 0 auto 20px;
      display: block;
      text-align: center;
      position: relative;
      letter-spacing: 2px;
      }
      
      .flow > li .flow-icon::before {
      content: "";
      border: solid transparent;
      border-width: 8px;
      border-top-color: #6b90db;
      position: absolute;
      top: calc(100% - .2rem);
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      }
      
      /* --------------------------------------------------
      お問い合せページ
      -------------------------------------------------- */
      /*WEBでのご予約・お問合せ*/
      
      /* フェードイン用のCSS */
      .slide-bottom {
      opacity: 0;
      transform: translateY(20px);
      transition: all 1.3s 0s ease-out;
      }
      
      
      .col-md-6{
      max-width: 100%;
      margin-bottom: 3rem;
      margin-top: -14rem;
      
      }
      
      .footer-title{
        border-top: seagreen solid 3px;
        margin-top: 100px;
        padding-top: 10px;
        width: 100%;
        font-size:26px;
      }
      
      .calender-content{
      margin-left: 17px;
      }
      
      .btn-square-txt{
      color:#111;
      }
      .btn-content{
      background: white;
      width: 35%;
      text-align: center;
      font-weight: bold;
      border-radius: 25px;
      height: 38px;
      color: #111;
      padding-top: 8px;
      }
      
      .tel-reservation{
      background-color: seagreen;
      padding: 35px;
      margin-top: 44px;
      }
      .web-reservation{
      background-color: seagreen;
      padding: 60px;
      margin-top: 45px;
      }
      .tel-reception{
      background-color: seagreen;
      color:white;
      text-align: center;
      border-radius: 45px;
      margin-bottom: 40px;
      }
      .web-reception{
      background-color:seagreen;
      color:white;
      text-align: center;
      border-radius: 45px;
      }
      .un-footer{
        background-color: seagreen;
        height: 80px;
        margin-top: -2rem;
        padding-top: 20px;
        padding-right: 0px;
        font-size: 14px;
      }
      
      .footer-list{
        display: flex;
        color: #fff;
        font-weight: bold;
        margin-left: -19px;
        padding-top: 8px;
        width: auto;
        margin-left: -70px;
      }
      .footer-list ul{
        display: flex;
        list-style: none;
        margin: auto;
        padding: 10px;
        margin-left: 70px;
        margin-top: -13px;
      }
      .footer-list li{
      padding: inherit;
      margin-left: 2px;
      font-size: 1px;
      }
      
      .tel-reservation{
      color:#fff;
      font-size:25px;
      }
    .col-form-label{
      background-color: lightgray;
      width: 40%;
      margin: 20px;
    }



























/*******************************   レスポンシブ対応 タブレット  *********************************/
@media  only screen and (min-width: 520px){
  main{
    margin-top: 0rem;
  }
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 17rem
}
  .navbar-toggler{
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background-color: #111;
  }
  .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
.jumbotron{
    margin-top: -4rem;
}
.under-layer .jumbotron {
    background-image: url(../animal/hare.jpg);
    background-size: cover;
    background-position: center top;
    margin-bottom: 0px;
}
.header-title{
    text-align: center;
}
.text-muted {
    font-size: 13px;
    text-align: center;
}
.tel-reservation{
  color:#fff;
  font-size:25px;
  }
  .col-form-label {
    background-color: lightgray;
    width: 25%;
    margin: 20px;
}
p.p-3 {
  padding: 5px;
  font-size: 17px;
  margin-top: -25px;
}
      /* --------------------------------------------------
      お問い合せページ
      -------------------------------------------------- */
      /*WEBでのご予約・お問合せ*/
      
      /* フェードイン用のCSS */
      .slide-bottom {
      opacity: 0;
      transform: translateY(20px);
      transition: all 1.3s 0s ease-out;
      }
      .d-md-flex{
        margin-top: 3rem;
      }
      
      .col-md-6{
      max-width: 100%;
      margin-bottom: 3rem;
      margin-top: 5rem;
      
      }
      
      .footer-title{
        border-top: seagreen solid 3px;
        margin-top: 100px;
        padding-top: 10px;
        width: 100%;
        margin-top: -8rem;
      }
      
      .calender-content{
      margin-left: 17px;
      }
      
      .btn-square-txt{
      color:#111;
      }
      .btn-content{
      background: white;
      width: 35%;
      text-align: center;
      font-weight: bold;
      border-radius: 25px;
      height: 38px;
      color: #111;
      padding-top: 8px;
      }
      
      .tel-reservation{
      background-color: seagreen;
      padding: 35px;
      margin-top: 44px;
      }
      .web-reservation{
      background-color: seagreen;
      padding: 60px;
      margin-top: 45px;
      }
      .tel-reception{
      background-color: seagreen;
      color:white;
      text-align: center;
      border-radius: 45px;
      }
      .web-reception{
      background-color:seagreen;
      color:white;
      text-align: center;
      border-radius: 45px;
      }
      .un-footer{
        background-color: seagreen;
        height: 80px;
        margin-top: -2rem;
        padding-top: 4px;
      }
      
      .footer-list{
        display: flex;
        color: #fff;
        font-weight: bold;
        margin-left: -25px;
        padding-top: 8px;
      }
      .footer-list ul{
      display: flex;
      list-style:none;
      margin:auto; 
      font-size:unset;
      }
      .footer-list li{
        padding: inherit;
        font-size: 15px;
        padding-left: 25px;
        margin-left: 4px;
      }
      
      
    }
  
  









    














  

/**************************** レスポンシブ　PC *****************************/
@media  only screen and (min-width: 960px){
main{
    margin-top: 0rem;
  }

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 44rem;
}
.under-layer .jumbotron {
  background-image: url(../animal/hare.jpg);
  background-size: cover;
  background-position: center top;
  margin-bottom: 0px;
}
.header-title {
    margin: 15px;
    text-align: revert;
}
.d-md-flex {
  margin-top: 5rem;
}
.text-muted {
  font-size: 13px;
  text-align:revert;
}
.d-md-flex {
  margin-top: 4rem;
  padding-top: 28px;
}
p.p-3 {
  padding: 5px;
  font-size: 20px;
  margin-top: -25px;
}
.step li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 50px;
  left: 0;
  border-style: solid;
  border-color: #DBB96B transparent transparent transparent;
  z-index: 1;
}
form{
  margin-top: 30px;
  margin-left: -67px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16px;
  width: 100%;
}


/* --------------------------------------------------
お問い合せページ
-------------------------------------------------- */
/*WEBでのご予約・お問合せ*/

/* フェードイン用のCSS */
.slide-bottom {
opacity: 0;
transform: translateY(20px);
transition: all 1.3s 0s ease-out;
}


.col-md-6{
margin-left:1px;
max-width: 100%;
margin-bottom: 7rem;

}

.jumbotron {
    background-color: seagreen;
}
.footer-title{
  border-top: seagreen solid 3px;
  margin-top: -6rem;
  padding-top: 10px;
  width: 100%;
}
.under-layer .jumbotron {
    background-image: url(../animal/hare.jpg);
    background-size: cover;
    background-position: center top;
    margin-bottom: 0px;
}
.col-md-9 {
    max-width: 75%;
    margin-left: -50px;
}
.pt-5, .py-5 {
    padding-top: 0rem!important;
}
.calender-content{
margin-left: 17px;
}

.btn-square-txt{
color:#111;
}
.btn-content{
background: white;
width: 35%;
text-align: center;
font-weight: bold;
border-radius: 25px;
height: 38px;
color: #111;
padding-top: 8px;
}

.tel-reservation{
background-color: seagreen;
padding: 35px;
margin-top: 44px;
}
.web-reservation{
background-color: seagreen;
padding: 60px;
margin-top: 45px;
}
.tel-reception{
background-color: seagreen;
color:white;
text-align: center;
border-radius: 45px;
}
.web-reception{
background-color:seagreen;
color:white;
text-align: center;
border-radius: 45px;
margin-top: 6rem;
}
.un-footer{
background-color: seagreen;
height: 80px;
margin-top: 2rem;
padding-top: 20px;
padding-right: 50px;
}

.footer-list{
  display: flex;
  color: #fff;
  font-weight: bold;
  padding-top: 0px;
  margin: auto;
  font-size: 22px;
  margin-top: -14px;
}
.footer-list ul{
display: flex;
list-style:none;
margin:auto; 
font-size:unset;
}
.footer-list li{
  padding: inherit;
  padding-left: 70px;
  font-size: 25px;
}

.tel-reservation{
color:#fff;
font-size:25px;
}
.table-sm td, .table-sm th {
  padding: 1rem;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-left: -115px;
}
}